body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ECF4F2;
}

.recommend_content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex: 1;
    margin-top: 80px;
}

.description {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.white_section {
    margin-top: 80px;
    width: 85%;
    height: 430px;
    background-color: #FFFFFF;
    padding: 100px;
}

.white_section_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.white_section_des {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.white_section_des_1 {
    color: #43977D;
}

.recommend_food_set {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.recommend_food_img {
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
        overflow: hidden;
    }
    
    .recommend_food_img img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.recommend_food_des {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.recommend_food_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.detail-food__section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.detail-food__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.detail-food__title h2 {
    font-size: 24px;
    font-weight: 600;
}

.detail-food__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.detail-food__image {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.detail-food__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #000000;
    ;
    border-radius: 10px;
}

.detail-food__dashboard {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    ;
}