body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ECF4F2;
}

.recommend_content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex: 1;
    margin-top: 80px;
}

.description {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.white_section {
    margin-top: 80px;
    width: 85%;
    height: 430px;
    background-color: #FFFFFF;
    padding: 100px;
}

.white_section_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.white_section_des {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.white_section_des_1 {
    color: #43977D;
}

.recommend_food_set {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recommend_food_img {
    width: 200px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: #000000 1px solid;
    margin-bottom: 15px;
}

.recommend_food_des {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.recommend_food_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}